@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/static/roboto.ttf) format("truetype");
}

body {
  margin: 0;
  font: 400 16px/1.5 Roboto, Arial, sans-serif;
  color: #212121;
  word-wrap: break-word;
  background: #e5e5e5;
}

.site-wrapper {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 16px;
}

.site-header {
  background: #fff;
  z-index: 1;
}

.site-header, .main-content {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.main-content {
  background: #fff;
  padding: 16px;
  padding-top: 32px;
  /*display: flex;*/
}
.main-content.with-sidebar .article-area, .main-content.with-sidebar .sidebar {
  flex-basis: auto;
  width: 0px;
}
@media screen and (max-width: 750px) {
  .main-content.with-sidebar .article-area, .main-content.with-sidebar .sidebar {
    width: auto;
  }
}
.main-content.with-sidebar .article-area {
  flex-grow: 4;
}
.main-content.with-sidebar .sidebar {
  flex-grow: 2;
  padding-left: 32px;
  word-break: break-all;
}
@media screen and (max-width: 750px) {
  .main-content.with-sidebar {
    flex-direction: column;
  }
  .main-content.with-sidebar .sidebar {
    padding-left: 0;
    padding-top: 64px;
  }
}

.site-title {
  display: flex;
  align-items: center;
}
.site-title:hover {
  text-decoration: none;
}
.site-title img {
  margin: 21.33333px;
  height: 96px;
}
@media screen and (max-width: 750px) {
  .site-title img {
    height: 64px; }
}
@media screen and (max-width: 500px) {
  .site-title img {
    margin: 16px;
    height: 48px;
  }
}
.site-title h1 {
  margin: 0;
  font-size: 48px;
  color: #757575;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .site-title h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 500px) {
  .site-title h1 {
    font-size: 24px;
  }
}

.site-description {
  font-size: 14px;
}

.search-input {
  font-size: 1.1em;
  box-sizing: border-box;
  max-width: 100%;
  width: 300px;
  padding: 0.4em 0.4em 0.4em 40px;
  background:
      url(/static/search.svg)
      no-repeat 10px center;
  border-radius: 4px;
  border: solid 1px #aaa;
}

.search-input:focus {
  border-color: #1976d2;
}

.package-header {
  display: flex;
  margin-bottom: 8px;
  text-decoration: none;
}

.package-icon {
  width: 48px;
  height: 48px;
  margin-top: 8px;
  margin-right: 8px;
}

.package-name {
  margin: 0;
}

.package-license {
  margin-left: 8px;
  color: #888;
  font-size: 0.8em;
}

.package-header h4 {
  font-size: 20px;
  font-weight: 400;
}

.material-button {
  display: inline-block;
  line-height: 38px;
  padding: 0 12px;
  background-color: #1976d2;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .2s;
  border: none;
}

.material-button:hover {
  opacity: 1;
  background-color: #378fe7;
  text-decoration: none;
}

.material-button:active {
  opacity: 1;
  background-color: #64a9ed;
}

a {
  color: #212121;
  transition: opacity .2s;
  text-decoration: none;
}

a:hover {
  opacity: .65;
}

a:active {
  opacity: .5;
}

.pagination {
  margin-top: 30px;
  text-align: center;
  color: #bbb;
}

.step-links {
  display: inline-block;
  font-size: 1.3em;
  padding-top: 8px;
  height: 40px;
  width: 48px;
  color: #bbb;
}

.step-links > a {
  color: #bbb;
}
